# Set a strong new password here.
# Make sure the same password is stored in 'data/pretix/etc/pretix.cfg'.
POSTGRES_PASSWORD=

# Example Pretix plaintext exposed to everybody in your LAN.
#PRETIX_LISTEN=0.0.0.0:8000

# Example Pretix plaintext only exposed on your loopback.
PRETIX_LISTEN=127.0.0.1:8000
